USE [master]
GO
/****** Nesnesi: Database [WeatherWardrobe] Betik Tarihi: 23.04.2026 19:41:19 ******/
CREATE DATABASE [WeatherWardrobe]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WeatherWardrobe', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\WeatherWardrobe.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WeatherWardrobe_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\WeatherWardrobe_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WeatherWardrobe].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WeatherWardrobe]
GO
/****** Nesnesi: Table [dbo].[Categories] Betik Tarihi: 23.04.2026 19:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[ID] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Clothes] Betik Tarihi: 23.04.2026 19:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clothes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[MinTemp] [int] NOT NULL,
	[MaxTemp] [int] NOT NULL,
	[WeatherCondition] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](255) NULL,
	[Color] [nvarchar](30) NULL,
	[IsHooded] [bit] NULL,
	[IsWaterproof] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Users] Betik Tarihi: 23.04.2026 19:41:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[Age] [int] NULL,
	[Gender] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([ID], [CategoryName]) VALUES (1, N'Üst Giyim')
INSERT [dbo].[Categories] ([ID], [CategoryName]) VALUES (2, N'Alt Giyim')
INSERT [dbo].[Categories] ([ID], [CategoryName]) VALUES (3, N'Dış Giyim')
GO
SET IDENTITY_INSERT [dbo].[Clothes] ON 

INSERT [dbo].[Clothes] ([ID], [UserID], [CategoryID], [Name], [MinTemp], [MaxTemp], [WeatherCondition], [ImagePath], [Color], [IsHooded], [IsWaterproof]) VALUES (1, 1, 1, N'Baskılı Beyaz Tişört', 20, 35, N'Güneşli', N'tshirt.png', N'Beyaz', 0, 0)
INSERT [dbo].[Clothes] ([ID], [UserID], [CategoryID], [Name], [MinTemp], [MaxTemp], [WeatherCondition], [ImagePath], [Color], [IsHooded], [IsWaterproof]) VALUES (2, 1, 2, N'Mavi Kot Pantolon', 5, 30, N'Parçalı Bulutlu', N'jeans.png', N'Mavi', 0, 0)
INSERT [dbo].[Clothes] ([ID], [UserID], [CategoryID], [Name], [MinTemp], [MaxTemp], [WeatherCondition], [ImagePath], [Color], [IsHooded], [IsWaterproof]) VALUES (3, 1, 3, N'Sarı Kışlık Yağmurluk', -5, 15, N'Yağmurlu', N'raincoat.png', N'Sarı', 1, 1)
SET IDENTITY_INSERT [dbo].[Clothes] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Username], [Password], [FirstName], [LastName], [Age], [Gender]) VALUES (1, N'admin', N'12345', N'Doğukan', N'Kalyoncu', 22, N'Erkek')
INSERT [dbo].[Users] ([ID], [Username], [Password], [FirstName], [LastName], [Age], [Gender]) VALUES (2, N'f_soy1', N'1234', N'Fadime', N'Soy', 21, N'Kadın')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Nesnesi: Index [UQ__Users__536C85E49834911B] Betik Tarihi: 23.04.2026 19:41:20 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clothes]  WITH CHECK ADD  CONSTRAINT [FK_Clothes_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([ID])
GO
ALTER TABLE [dbo].[Clothes] CHECK CONSTRAINT [FK_Clothes_Categories]
GO
ALTER TABLE [dbo].[Clothes]  WITH CHECK ADD  CONSTRAINT [FK_Clothes_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Clothes] CHECK CONSTRAINT [FK_Clothes_Users]
GO
USE [master]
GO
